/*
Anchore API

This is the Anchore API. Provides the external API for users of Anchore Enterprise.

API version: 2.12.1
Contact: dev@anchore.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package enterprise

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


type AlertsAPI interface {

	/*
	GetAlertSummaries List all alert summaries scoped to the account

	Returns a paginated list of alert summaries in chronological order from the most to least recently generated alerts. Return alerts in the open state by default. Use query parameters for filtering

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAlertSummariesRequest
	*/
	GetAlertSummaries(ctx context.Context) ApiGetAlertSummariesRequest

	// GetAlertSummariesExecute executes the request
	//  @return []AlertSummary
	GetAlertSummariesExecute(r ApiGetAlertSummariesRequest) ([]AlertSummary, *http.Response, error)

	/*
	GetComplianceViolationAlert Get compliance violation alert by id

	Returns a single compliance violation alert object

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid Identifier for the alert
	@return ApiGetComplianceViolationAlertRequest
	*/
	GetComplianceViolationAlert(ctx context.Context, uuid string) ApiGetComplianceViolationAlertRequest

	// GetComplianceViolationAlertExecute executes the request
	//  @return ComplianceViolationAlert
	GetComplianceViolationAlertExecute(r ApiGetComplianceViolationAlertRequest) (*ComplianceViolationAlert, *http.Response, error)

	/*
	GetComplianceViolationAlerts List all compliance violation alerts scoped to the account

	Returns a paginated list of compliance violation alerts in chronological order from the most to least recently generated alerts. Return alerts in the open state by default. Use query parameters for filtering

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetComplianceViolationAlertsRequest
	*/
	GetComplianceViolationAlerts(ctx context.Context) ApiGetComplianceViolationAlertsRequest

	// GetComplianceViolationAlertsExecute executes the request
	//  @return []ComplianceViolationAlert
	GetComplianceViolationAlertsExecute(r ApiGetComplianceViolationAlertsRequest) ([]ComplianceViolationAlert, *http.Response, error)

	/*
	UpdateComplianceViolationAlertState Open or close a compliance violation alert

	Idempotent op for changing the alert state to open or closed

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid Identifier for the alert
	@return ApiUpdateComplianceViolationAlertStateRequest
	*/
	UpdateComplianceViolationAlertState(ctx context.Context, uuid string) ApiUpdateComplianceViolationAlertStateRequest

	// UpdateComplianceViolationAlertStateExecute executes the request
	//  @return ComplianceViolationAlert
	UpdateComplianceViolationAlertStateExecute(r ApiUpdateComplianceViolationAlertStateRequest) (*ComplianceViolationAlert, *http.Response, error)
}

// AlertsAPIService AlertsAPI service
type AlertsAPIService service

type ApiGetAlertSummariesRequest struct {
	ctx context.Context
	ApiService AlertsAPI
	page *int32
	limit *int32
	type_ *string
	state *string
	createdAfter *time.Time
	createdBefore *time.Time
	resourceLabel *[]string
	xAnchoreAccount *string
}

func (r ApiGetAlertSummariesRequest) Page(page int32) ApiGetAlertSummariesRequest {
	r.page = &page
	return r
}

func (r ApiGetAlertSummariesRequest) Limit(limit int32) ApiGetAlertSummariesRequest {
	r.limit = &limit
	return r
}

// Filter for alerts based on the type such as compliance violation
func (r ApiGetAlertSummariesRequest) Type_(type_ string) ApiGetAlertSummariesRequest {
	r.type_ = &type_
	return r
}

// Filter for alerts by current state, defaults to open alerts unless specified
func (r ApiGetAlertSummariesRequest) State(state string) ApiGetAlertSummariesRequest {
	r.state = &state
	return r
}

// Filter for alerts generated after the timestamp
func (r ApiGetAlertSummariesRequest) CreatedAfter(createdAfter time.Time) ApiGetAlertSummariesRequest {
	r.createdAfter = &createdAfter
	return r
}

// Filter for alerts generated before the timestamp
func (r ApiGetAlertSummariesRequest) CreatedBefore(createdBefore time.Time) ApiGetAlertSummariesRequest {
	r.createdBefore = &createdBefore
	return r
}

// Filter for alerts associated with a resource where the label in key&#x3D;value format such as tag&#x3D;docker.io/library/alpine:latest or repository&#x3D;library/alpine
func (r ApiGetAlertSummariesRequest) ResourceLabel(resourceLabel []string) ApiGetAlertSummariesRequest {
	r.resourceLabel = &resourceLabel
	return r
}

// An account name to change the resource scope of the request to that account, if permissions allow (admin only)
func (r ApiGetAlertSummariesRequest) XAnchoreAccount(xAnchoreAccount string) ApiGetAlertSummariesRequest {
	r.xAnchoreAccount = &xAnchoreAccount
	return r
}

func (r ApiGetAlertSummariesRequest) Execute() ([]AlertSummary, *http.Response, error) {
	return r.ApiService.GetAlertSummariesExecute(r)
}

/*
GetAlertSummaries List all alert summaries scoped to the account

Returns a paginated list of alert summaries in chronological order from the most to least recently generated alerts. Return alerts in the open state by default. Use query parameters for filtering

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAlertSummariesRequest
*/
func (a *AlertsAPIService) GetAlertSummaries(ctx context.Context) ApiGetAlertSummariesRequest {
	return ApiGetAlertSummariesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AlertSummary
func (a *AlertsAPIService) GetAlertSummariesExecute(r ApiGetAlertSummariesRequest) ([]AlertSummary, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AlertSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlertsAPIService.GetAlertSummaries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/summaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "all"
		r.type_ = &defaultValue
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	} else {
		var defaultValue string = "open"
		r.state = &defaultValue
	}
	if r.createdAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_after", r.createdAfter, "form", "")
	}
	if r.createdBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_before", r.createdBefore, "form", "")
	}
	if r.resourceLabel != nil {
		t := *r.resourceLabel
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "resource_label", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "resource_label", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAnchoreAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-anchore-account", r.xAnchoreAccount, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetComplianceViolationAlertRequest struct {
	ctx context.Context
	ApiService AlertsAPI
	uuid string
	xAnchoreAccount *string
}

// An account name to change the resource scope of the request to that account, if permissions allow (admin only)
func (r ApiGetComplianceViolationAlertRequest) XAnchoreAccount(xAnchoreAccount string) ApiGetComplianceViolationAlertRequest {
	r.xAnchoreAccount = &xAnchoreAccount
	return r
}

func (r ApiGetComplianceViolationAlertRequest) Execute() (*ComplianceViolationAlert, *http.Response, error) {
	return r.ApiService.GetComplianceViolationAlertExecute(r)
}

/*
GetComplianceViolationAlert Get compliance violation alert by id

Returns a single compliance violation alert object

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uuid Identifier for the alert
 @return ApiGetComplianceViolationAlertRequest
*/
func (a *AlertsAPIService) GetComplianceViolationAlert(ctx context.Context, uuid string) ApiGetComplianceViolationAlertRequest {
	return ApiGetComplianceViolationAlertRequest{
		ApiService: a,
		ctx: ctx,
		uuid: uuid,
	}
}

// Execute executes the request
//  @return ComplianceViolationAlert
func (a *AlertsAPIService) GetComplianceViolationAlertExecute(r ApiGetComplianceViolationAlertRequest) (*ComplianceViolationAlert, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComplianceViolationAlert
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlertsAPIService.GetComplianceViolationAlert")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/compliance-violations/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAnchoreAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-anchore-account", r.xAnchoreAccount, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetComplianceViolationAlertsRequest struct {
	ctx context.Context
	ApiService AlertsAPI
	page *int32
	limit *int32
	state *string
	createdAfter *time.Time
	createdBefore *time.Time
	resourceImageDigest *string
	resourceImageTag *string
	resourceRegistry *string
	resourceRepository *string
	xAnchoreAccount *string
}

func (r ApiGetComplianceViolationAlertsRequest) Page(page int32) ApiGetComplianceViolationAlertsRequest {
	r.page = &page
	return r
}

func (r ApiGetComplianceViolationAlertsRequest) Limit(limit int32) ApiGetComplianceViolationAlertsRequest {
	r.limit = &limit
	return r
}

// Filter for alerts by current state, defaults to open alerts unless specified
func (r ApiGetComplianceViolationAlertsRequest) State(state string) ApiGetComplianceViolationAlertsRequest {
	r.state = &state
	return r
}

// Filter for alerts generated after the timestamp
func (r ApiGetComplianceViolationAlertsRequest) CreatedAfter(createdAfter time.Time) ApiGetComplianceViolationAlertsRequest {
	r.createdAfter = &createdAfter
	return r
}

// Filter for alerts generated before the timestamp
func (r ApiGetComplianceViolationAlertsRequest) CreatedBefore(createdBefore time.Time) ApiGetComplianceViolationAlertsRequest {
	r.createdBefore = &createdBefore
	return r
}

// Filter for alerts associated with image digest
func (r ApiGetComplianceViolationAlertsRequest) ResourceImageDigest(resourceImageDigest string) ApiGetComplianceViolationAlertsRequest {
	r.resourceImageDigest = &resourceImageDigest
	return r
}

// Filter for alerts generated for the tag
func (r ApiGetComplianceViolationAlertsRequest) ResourceImageTag(resourceImageTag string) ApiGetComplianceViolationAlertsRequest {
	r.resourceImageTag = &resourceImageTag
	return r
}

// Filter for alerts associated with registry
func (r ApiGetComplianceViolationAlertsRequest) ResourceRegistry(resourceRegistry string) ApiGetComplianceViolationAlertsRequest {
	r.resourceRegistry = &resourceRegistry
	return r
}

// Filter for alerts associated with repository
func (r ApiGetComplianceViolationAlertsRequest) ResourceRepository(resourceRepository string) ApiGetComplianceViolationAlertsRequest {
	r.resourceRepository = &resourceRepository
	return r
}

// An account name to change the resource scope of the request to that account, if permissions allow (admin only)
func (r ApiGetComplianceViolationAlertsRequest) XAnchoreAccount(xAnchoreAccount string) ApiGetComplianceViolationAlertsRequest {
	r.xAnchoreAccount = &xAnchoreAccount
	return r
}

func (r ApiGetComplianceViolationAlertsRequest) Execute() ([]ComplianceViolationAlert, *http.Response, error) {
	return r.ApiService.GetComplianceViolationAlertsExecute(r)
}

/*
GetComplianceViolationAlerts List all compliance violation alerts scoped to the account

Returns a paginated list of compliance violation alerts in chronological order from the most to least recently generated alerts. Return alerts in the open state by default. Use query parameters for filtering

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetComplianceViolationAlertsRequest
*/
func (a *AlertsAPIService) GetComplianceViolationAlerts(ctx context.Context) ApiGetComplianceViolationAlertsRequest {
	return ApiGetComplianceViolationAlertsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ComplianceViolationAlert
func (a *AlertsAPIService) GetComplianceViolationAlertsExecute(r ApiGetComplianceViolationAlertsRequest) ([]ComplianceViolationAlert, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ComplianceViolationAlert
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlertsAPIService.GetComplianceViolationAlerts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/compliance-violations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	} else {
		var defaultValue string = "open"
		r.state = &defaultValue
	}
	if r.createdAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_after", r.createdAfter, "form", "")
	}
	if r.createdBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_before", r.createdBefore, "form", "")
	}
	if r.resourceImageDigest != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_image_digest", r.resourceImageDigest, "form", "")
	}
	if r.resourceImageTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_image_tag", r.resourceImageTag, "form", "")
	}
	if r.resourceRegistry != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_registry", r.resourceRegistry, "form", "")
	}
	if r.resourceRepository != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_repository", r.resourceRepository, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAnchoreAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-anchore-account", r.xAnchoreAccount, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateComplianceViolationAlertStateRequest struct {
	ctx context.Context
	ApiService AlertsAPI
	uuid string
	body *ComplianceViolationAlertState
	xAnchoreAccount *string
}

func (r ApiUpdateComplianceViolationAlertStateRequest) Body(body ComplianceViolationAlertState) ApiUpdateComplianceViolationAlertStateRequest {
	r.body = &body
	return r
}

// An account name to change the resource scope of the request to that account, if permissions allow (admin only)
func (r ApiUpdateComplianceViolationAlertStateRequest) XAnchoreAccount(xAnchoreAccount string) ApiUpdateComplianceViolationAlertStateRequest {
	r.xAnchoreAccount = &xAnchoreAccount
	return r
}

func (r ApiUpdateComplianceViolationAlertStateRequest) Execute() (*ComplianceViolationAlert, *http.Response, error) {
	return r.ApiService.UpdateComplianceViolationAlertStateExecute(r)
}

/*
UpdateComplianceViolationAlertState Open or close a compliance violation alert

Idempotent op for changing the alert state to open or closed

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uuid Identifier for the alert
 @return ApiUpdateComplianceViolationAlertStateRequest
*/
func (a *AlertsAPIService) UpdateComplianceViolationAlertState(ctx context.Context, uuid string) ApiUpdateComplianceViolationAlertStateRequest {
	return ApiUpdateComplianceViolationAlertStateRequest{
		ApiService: a,
		ctx: ctx,
		uuid: uuid,
	}
}

// Execute executes the request
//  @return ComplianceViolationAlert
func (a *AlertsAPIService) UpdateComplianceViolationAlertStateExecute(r ApiUpdateComplianceViolationAlertStateRequest) (*ComplianceViolationAlert, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComplianceViolationAlert
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlertsAPIService.UpdateComplianceViolationAlertState")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/compliance-violations/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAnchoreAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-anchore-account", r.xAnchoreAccount, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
